


<div class="mx-auto h2 " style="width: 400px;">Welcome Jihad Abdul-Latif</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-12 col-lg-6 mt-4 rounded-3 border border-4">
            <app-sum-section></app-sum-section>
        </div>
    
        <div class="col-sm-12 col-lg-6 mt-4 rounded-3 border border-4">    
            <app-loan-overview></app-loan-overview>
        </div>
    
        <div class="col-12 mt-4 rounded-3 border border-4">
            <app-trans-history></app-trans-history>
        </div>
    </div>
</div>