<div class="container-fluid mt-5">
    <div class="mx-auto" style="width: 650px;">
<form [formGroup]="loginform" (ngSubmit)="login()">
    <div class="mx-auto" style="width: 300px;">
    <p class="h5">Sign into your account</p>
    </div>
        
          <div class="row g-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="mb-3 ms-3 col-md-5">     
        <label  for="email" class="form-label">Email address</label>
        <input id="email" type="email"
            placeholder="Email@Address.com" class="form-control" formControlName="email" required />
        </div>
        <div class="mb-3 ms-3 col-md-5">
            <label for="pwd" class="form-label">Password</label>
        <input type="password" id="pwd" class="form-control" placeholder="Password"
            formControlName="password" required />
            </div>
            
            <div>
                <button  type="submit" class="form-control btn btn-primary">Login</button>
            </div>
            
        
            
        
    
    </div>
    <!-- <a class="small text-muted" href="#!">Forgot password?</a>
    <p>Don't have an account? <a routerLink="/register">Register
            here</a></p> -->
</form>
</div>
</div>